body {
  background-image: url("/assets/images/newspaper-editorials.jpg");
  padding-top: 80px;
  font-family: "Assistant", sans-serif;
}

/* navbar */
.navbar {
  padding: 10px;
}

.navbar-brand {
  font-family: "Audiowide", cursive;
  font-size: 30px;
  color: black;
}

.navbar-brand:hover {
  cursor: pointer;
}

#saved {
  padding: 6px;
  margin: 8px 0px;
  margin-right: 5px;
  color: white;
}

#saved:hover {
  background: green;
}

#scrape,
#delete-btn {
  margin: 8px 0px;
  padding: 6px;
  margin-right: 5px;
  color: white;
}

#delete-btn:hover {
  background: red;
}

/* Cards */
.panel-heading h4 {
  font-weight: bold;
  font-size: 20px;
}

.panel-body {
  text-align: right;
}

.panel-body p {
  text-align: left;
  font-size: 18px;
}

.panel-body h4 {
  text-align: center;
  font-size: 24px;
}

.btn a {
  text-decoration: none;
  color: white;
}

#savedArticles {
  font-family: "Audiowide", cursive;
  color: rgb(230, 223, 223);
  font-size: 50px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background: slategray;
  margin-bottom: 0px;
}

/* buttons */
.read,
.addNote {
  margin-right: 5px;
}

.read,
.addNote,
.delete,
.save {
  padding: 10px;
  font-size: 16px;
}

/* footer */
.footer {
  text-align: center;
  font-size: 20px;
  background: white;
}

.copyright {
  color: slategray;
  font-family: "Audiowide", cursive;
  font-size: 24px;
}

.github {
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: slategray;
}

.github:hover {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* modals */

.deleteNote {
  display: inline-block;
}

.previousNotes {
  display: inline-block;
  width: 90%;
}
